
@media (min-width: 320px) and (max-width: 614px) {

.man-mobile{
	width: 320px;
	margin: 0 auto;
}
.man-mobile__picture{
	width: 311px;
	padding-left: 4px;
	padding-top: 72px;
}
.man-mobile__picture img{
	width: 219px; 
}
.man-mobile__text{
	width: 393px;
    padding-left: 2px;
    padding-top: 8px;
    color: #111;
}
.man-mobile__textp{
	width: 320px;
    margin-top: 16px;
    margin-left: -50px;
    padding-right: 5px;
}
.man-mobile h2{
	margin-left: 38px;
    margin-top: -286px;
    margin-bottom: 6px;
    font-size: 26px;
    letter-spacing: 0.2px;
    text-align: left;
    color: black;
}
.man-mobile__h4{
	width: 190px;
}
.man-mobile h3{
	margin-top: 269px;
    margin-left: -80px;
    margin-bottom: 6px;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: center;
    color: black;
}
.man-mobile p{
	margin-top: 0px;
    margin-bottom: 1px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    color: #878787;
}
#man-mobile__emptyLine{
	line-height: 24px;
	visibility: hidden;
}
.man-mobile__button{
	height: 40px;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 32px;
	margin-left: -80px;
	color: #ef6c00;
	background-color: white;
	border: 1px solid white;
}
.man-mobile__button a{
	color: #ef6c00; 
	font-size: 18px;
	font-weight: 800;
}
.man-mobile__button a:hover{
	opacity: 0.7;
}
}

@media (min-width: 615px) and (max-width: 1023px) {

.man-mobile{
	width: 615px;
	margin: 0 auto;
}
.man-mobile__picture{
	width: 211px;
	padding-left: 4px;
	padding-top: 116px;
	float: left;
}
.man-mobile__picture img{
	width: 174px; 
	margin-left: 1px;
}
.man-mobile__text{
	width: 393px;
    padding-left: 4px;
    padding-top: 35px;
    float: left;
    color: #111;
}
.man-mobile h2{
	margin-left: -66px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    color: black;
}
.man-mobile h3{
	margin-top: 33px;
    margin-bottom: 6px;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-align: left;
    color: black;
}
.man-mobile__textp{
    margin-top: 10px;
    margin-left: 2px;
    padding-right: 10px;
}
.man-mobile p{
	margin-top: 8px;
	margin-bottom: 1px;
	font-size: 12px;
	letter-spacing: 0.1px;
	line-height: 18px;
	text-align: left;
	color: #111;
}
#man-mobile__emptyLine{
	line-height: 0px;
	visibility: hidden;
}
.man-mobile__button{
	height: 40px;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 32px;
	color: #ef6c00;
	background-color: white;
	border: 1px solid white;
}
.man-mobile__button a{
	color: #ef6c00; 
	font-size: 18px;
	font-weight: 800;
}
.man-mobile__button a:hover{
	opacity: 0.7;
}
}
@media (min-width: 1024px) {

.man-mobile{
	width: 1024px;
	margin: 0 auto;
}
.man-mobile__picture{
	width: 360px;
	padding-left: 4px;
	padding-top: 144px;
	float: left;
}
.man-mobile__picture img{
	width: 288px; 
	margin-left: 13px;
}
.man-mobile__text{
	width: 627px;
    padding-left: 4px;
    padding-top: 62px;
    float: left;
    color: #111;
}
.man-mobile__textp{
    margin-top: 6px;
}
.man-mobile h2{
	margin-left: -49px;
	margin-top: 6px;
	margin-bottom: 6px;
	letter-spacing: 0.2px;
	text-align: left;
	color: #111;
}
.man-mobile h3{
	margin-top: 43px;
	margin-bottom: 6px;
	letter-spacing: 0.1px;
	text-align: left;
	color: #111;
}
.man-mobile p{
	margin-top: 0px;
	margin-bottom: 1px;
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 22px;
	text-align: left;
	color: #111;
}
#man-mobile__emptyLine{
	line-height: 22px;
	visibility: hidden;
}
.man-mobile__button{
	height: 40px;
	text-align: left;
	margin-top: 22px;
	margin-bottom: 102px;
	color: #ef6c00;
	background-color: white;
	border: 1px solid white;
}
.man-mobile__button a{
	color: #ef6c00; 
	font-size: 20px;
	font-weight: 800;
}
.man-mobile__button a:hover{
	opacity: 0.7;
}
}
